.task-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.subjects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
